.show-banner{
   
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 30px;
}

.title-area{
    width: 43%;
    padding: 20px;
}

.title-area h1{
    font-size: 50pt;
      text-align: center;
}

.title-area p{
    font-size: 15pt;
    margin: 20px;
    text-align: center;
}

.img-area img{
    width: 100px;
}

.img-area{
    text-align: center;
}