.show-banner{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;

    padding: 30px;
}

.title-area{
    width: 80%;
    padding: 10px;
}

.title-area h1{
    font-size: 35pt;
    margin: 10px;
    text-align: center;
}

.title-area p{
    margin: 20px;
    text-align: center;
}